section.cover img[data-origin*=logo] { max-width: 400px; }

aside.sidebar { padding-top: 30px; }

.docsify-pagination-container { height: 2rem !important; }
.docsify-pagination-container .pagination-item-label { margin-top: 5px; }
.docsify-pagination-container .pagination-item-title { display: none; }

img {
  max-height: 90vh;
}

/* mermaid */
.mermaid .default rect { fill: #e953da !important; stroke-width: 0 !important; }
.mermaid .default .label { color: white !important; }


.mermaid .edgePath path { stroke: #142f48 !important; }

.mermaid .root rect { fill: #4c44cf !important; stroke-width: 0 !important; }
.mermaid .root .label { color: white !important; }
